<div class="propertyBox">

  <div class="cd3e-box">Property Box</div>

  <label for="propertyBoxFilterTextInput">Filter:</label>
  <input id="propertyBoxFilterTextInput" data-ng-model="filterText">

  <div>
      <div>{{element.getName()}}</div>
    <div data-ng-repeat="property in element.getProperties() | filter:{ _name: filterText }">
        <span>
            <label>{{ property.getType() }}</label>
            <input data-ng-model="property._value">
        </span>
      <!--
        Maybe create a directive for properties?
        How shall we automatically choose the view according to the property type?
      -->
    </div>
  </div>

</div>
