<div class="propertyBox">

  <div class="cd3e-box">Property Box</div>

  <label for="propertyBoxFilterTextInput">Filter:</label>
  <input id="propertyBoxFilterTextInput" data-ng-model="filterText">

  <ul>
    <li data-ng-repeat="property in element.properties | filter:{ _name: filterText }">
        <div>
            <label>{{ property.getName() }}</label>
            <input data-ng-model="property._value">
        </div>
      <!--
        Maybe create a directive for properties?
        How shall we automatically choose the view according to the property type?
      -->
    </li>
  </ul>

</div>
