<div class="toolBox">
  <div class="cd3e-box">Tool Box</div>
  <div class="input-group">
    <span class="input-group-addon">Filter</span>
    <input type="text" class="toolbox-filter" placeholder="Search..." id="toolBoxFilterTextInput" data-ng-model="filterText">
  </div>
  
  <accordion close-others="oneAtATime">
    <accordion-group heading="Layout">
      <ul class="cd3e-list">
        <li class="btn0" data-ng-repeat="layoutDefinition in layoutDefinitions | filter:{_type:filterText}" data-drag="true" jqyoui-draggable="{placeholder:false}" data-jqyoui-options="{helper:'clone',cursor:'pointer', appendTo:'body'}">
          <div>{{ layoutDefinition.getTypeDescription() }} </div>
          <!-- maybe create a directive for factories? Something like the following line
            <factory data-factory="factory"></factory>
          -->
        </li>
      </ul>
    </accordion-group>
    <accordion-group heading="Component">
      <ul class="cd3e-list">
        <li class="btn0" data-ng-repeat="componentDefinition in componentDefinitions  | filter:{_type:filterText}" data-drag="true" jqyoui-draggable data-jqyoui-options="{helper:'clone', cursor:'pointer'}" >
          <div>{{ componentDefinition.getTypeDescription() }} </div>
          <!-- maybe create a directive for factories? Something like the following line
            <factory data-factory="factory"></factory>
          -->
        </li>
      </ul>
    </accordion-group>

  </accordion>


</div>
