<div class="row" cd3e-operations>
    <div class="col-xs-12">
        <button ng-click="saveDashboard()" class="btn cd3e-save-button">Save</button>
        <input data-ng-model="filename" class="form-control cd3e-save-filename">
    </div>
</div>
<cd3e data-ng-click="selectNoneElement()">
    <tool-box >

    </tool-box>
	<layout-box data-dashboard="dashboard" data-selected-element="selectedElement">
		<!-- to have different views, this element should be a child of a new element that has a ng-switch or similar -->
	</layout-box>
	<property-box data-element="selectedElement"></property-box>
</cd3e>
