<!DOCTYPE html>
<html>
    <head>
        <title>Community Drag & Drop Dashboard Editor</title>

        <!-- this is important, it provides theming and the base url -->
        <script type="text/javascript" src="webcontext.js?context=cd3e"></script>

        <link rel="stylesheet" href="style/css/cd3e.css">

    </head>

    <body class="" >
        <h1><span>All mighty CD</span><sup>3</sup>E</h1>

      <div class="wholeContainer">
        <div data-ng-view></div>
      </div>

    </body>

    <script src="main.js"></script>

</html>
