/*
 * Copyright 2002 - 2014 Webdetails, a Pentaho company.  All rights reserved.
 *
 * This software was developed by Webdetails and is provided under the terms
 * of the Mozilla Public License, Version 2.0, or any later version. You may not use
 * this file except in compliance with the license. If you need a copy of the license,
 * please go to  http://mozilla.org/MPL/2.0/. The Initial Developer is Webdetails.
 *
 * Software distributed under the Mozilla Public License is distributed on an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or  implied. Please refer to
 * the license for the specific language governing your rights and limitations.
 */

requirejs(
    [
      'common-ui/angular',
      'common-ui/angular-sanitize',
      'common-ui/underscore',
      'angular-dragdrop',

      './@js.source.dir@/@js.module.script.app.name@',

      './@js.source.dir@/controllers/applicationController',

       // region Directives
      './@js.source.dir@/directives/toolBox/toolBoxController',
      './@js.source.dir@/directives/toolBox/toolBoxDirective',

      './@js.source.dir@/directives/layoutBox/layoutBoxController',
      './@js.source.dir@/directives/layoutBox/layoutBoxDirective',
      
      './@js.source.dir@/directives/dashboard/dashboardController',
      './@js.source.dir@/directives/dashboard/dashboardDirective',

      './@js.source.dir@/directives/propertyBox/propertyBoxController',
      './@js.source.dir@/directives/propertyBox/propertyBoxDirective',

      './@js.source.dir@/directives/row/rowController',
      './@js.source.dir@/directives/row/rowDirective',

      './@js.source.dir@/directives/column/columnController',
      './@js.source.dir@/directives/column/columnDirective',

      './@js.source.dir@/directives/elementDefinition/elementDefinitionController',
      './@js.source.dir@/directives/elementDefinition/elementDefinitionDirective',

      './@js.source.dir@/directives/component/componentController',
      './@js.source.dir@/directives/component/componentDirective',

      './@js.source.dir@/directives/stopEvent/stopEventDirective',


      // endregion


      './@js.source.dir@/services/dtoDefinitionsMapperService',
      './@js.source.dir@/services/definitionsProvider',
      './@js.source.dir@/services/dashboardService',
      './@js.source.dir@/services/componentElementFactory',
      './@js.source.dir@/services/layoutElementFactory',
      './@js.source.dir@/services/propertyFactory',
      './@js.source.dir@/services/dropService',

      /*
      './@js.source.dir@/models/plugin',

      './@js.source.dir@/services/appService',
      './@js.source.dir@/services/installFlowService/installFlowService',
      './@js.source.dir@/services/dtoMapperService',
      './@js.source.dir@/services/developmentStageService',
      './@js.source.dir@/services/categoryService',

      './directives/installUpdateButton/installUpdateButtonController',
      './directives/installUpdateButton/installUpdateButtonDirective',

      './directives/multiselectDropdown/multiselectDropdownController',
      './directives/multiselectDropdown/multiselectDropdownDirective',

      './directives/stagesInfo/stagesInfoController',
      './directives/stagesInfo/stagesInfoDirective',

      './directives/pluginDetail/pluginDetailController',
      './directives/pluginDetail/pluginDetailDirective',
      './directives/pluginList/pluginListController',
      './directives/pluginList/pluginListDirective',
      './directives/pluginListItem/pluginListItemController',
      './directives/pluginListItem/pluginListItemDirective',
      './directives/devStageIcon/devStageIconController',
      './directives/devStageIcon/devStageIconDirective',

      './directives/stopEvent/stopEventDirective',
      './directives/indeterminate/indeterminateDirective',
      './directives/modalHeight/modalHeightDirective'
      */
    ] ,

    function( angular ) {
      angular.bootstrap( document, [ 'cd3e' ]);

      console.log("Bootstrapped");
    }
);

