/*
 * Copyright 2002 - 2014 Webdetails, a Pentaho company.  All rights reserved.
 *
 * This software was developed by Webdetails and is provided under the terms
 * of the Mozilla Public License, Version 2.0, or any later version. You may not use
 * this file except in compliance with the license. If you need a copy of the license,
 * please go to  http://mozilla.org/MPL/2.0/. The Initial Developer is Webdetails.
 *
 * Software distributed under the Mozilla Public License is distributed on an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or  implied. Please refer to
 * the license for the specific language governing your rights and limitations.
 */


/* ==========================================================================
   General Styles
   ========================================================================== */

html, body {
  margin: 0px;
  padding: 0px;
  font-family: OpenSansRegular, sans-serif;
  font-size: 14px;
  background: transparent;
  color: #26363d;
}

.pentaho-page-background {
  background: url('/pentaho/content/common-ui/resources/themes/crystal/images/bg_page.png') repeat-x top left;
  background-color: #FFF;
}

.toolBox {
  border: 1px solid #006080;
  width: 20%;
}

.layoutBox {
  border-top: 1px solid #006080;
  border-bottom: 1px solid #006080;
  width: 60%;
}

.propertyBox {
  border: 1px solid #006080;
  width: 20%;
}

cd3e {
  display: flex;
  height: 100%;
}

.cd3e-box {
  font-size: 18px;
  color: #FFF;
  height: 25px;
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
}

/* positioning */
.cd3e-list li{
  list-style-type: none;
  padding: 5px 10px;
  margin: 2px 0;
}

/* style */
.cd3e-list li{
  border: 1px solid black;
  border-radius: 8px;
}

/* grid visualization */

.show-grid {
  margin-bottom: 15px;
}

.show-grid [class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}


.layoutBox .container-fluid {
  margin: 10px;
  text-align: center;
  background-color: rgba(221, 228, 230, 0.2);
  background: rgba(221, 228, 230, 0.2);
  min-height: 200px;
}

.toolBox .input-group {
  padding: 0px 5px;
  height: 40px;
}

.toolBox .input-group * {
}

.toolBox .input-group input {
    width: 80%;
    margin-bottom: 0px;
}
