/*
 * Copyright 2002 - 2014 Webdetails, a Pentaho company.  All rights reserved.
 *
 * This software was developed by Webdetails and is provided under the terms
 * of the Mozilla Public License, Version 2.0, or any later version. You may not use
 * this file except in compliance with the license. If you need a copy of the license,
 * please go to  http://mozilla.org/MPL/2.0/. The Initial Developer is Webdetails.
 *
 * Software distributed under the Mozilla Public License is distributed on an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or  implied. Please refer to
 * the license for the specific language governing your rights and limitations.
 */


/* ==========================================================================
   General Styles
   ========================================================================== */


@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/opensans-regular.eot');
  src: url('../fonts/opensans-regular.eot') format('embedded-opentype'),
  url('../fonts/opensans-regular.woff') format('woff'),
  url('../fonts/opensans-regular.ttf') format('truetype'),
  url('../fonts/opensans-regular.svg#OpenSansRegular') format('svg');
}

@font-face {
  font-family: 'OpenSansItalic';
  src: url('../fonts/opensans-italic.eot');
  src: url('../fonts/opensans-italic.eot') format('embedded-opentype'),
  url('../fonts/opensans-italic.woff') format('woff'),
  url('../fonts/opensans-italic.ttf') format('truetype'),
  url('../fonts/opensans-italic.svg#OpenSansItalic') format('svg');
}
@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/opensans-bold.eot');
  src: url('../fonts/opensans-bold.eot') format('embedded-opentype'),
  url('../fonts/opensans-bold.woff') format('woff'),
  url('../fonts/opensans-bold.ttf') format('truetype'),
  url('../fonts/opensans-bold.svg#OpenSansBold') format('svg');
}


html, body {
  margin: 0px;
  padding: 0px;
  font-family: OpenSansRegular;
  font-size: 13px;
  background: transparent;
  color: rgb(25, 115, 188);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pentaho-page-background {
  background: url('/pentaho/content/common-ui/resources/themes/crystal/images/bg_page.png') repeat-x top left;
  background-color: #FFF;
}

.header {
  padding: 8px 20px;
  display: block;
  height: 60px;
  background: #d8e4ed; /* Old browsers */
  background: -moz-linear-gradient(top,  #d8e4ed 0%, #c3d5e4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8e4ed), color-stop(100%,#c3d5e4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d8e4ed 0%,#c3d5e4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d8e4ed 0%,#c3d5e4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d8e4ed 0%,#c3d5e4 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #d8e4ed 0%,#c3d5e4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e4ed', endColorstr='#c3d5e4',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.4);
  -moz-box-shadow:    0px 2px 3px rgba(50, 50, 50, 0.4);
  box-shadow:         0px 2px 3px rgba(50, 50, 50, 0.4);
  color: rgb(38, 53, 61);
  font-size: 28px
  
}

.body {
    margin-top: 8px;
  
  
}

.toolBox {
  /* border: 1px solid #006080; */
  width: 20%;
}

.toolBox .toolBox-header {
  
  
}

.toolBox .toolBox-body {
  border-top: 4PX solid #f2ce17;
  padding: 16px 0 0 0;
}

.layoutBox {
  /* border-top: 1px solid #006080; */
  /* border-bottom: 1px solid #006080; */
  /* width: 60%; */
}

.layoutBox .layoutBox-body {
  border-top: 4PX solid #f2ce17;
  padding: 16px 0 0 0;
}

.propertyBox {
  /* border: 1px solid #006080; */
  width: 30%;
}

.propertyBox .propertyBox-body {
  border-top: 4PX solid #f2ce17;
  padding: 16px 0 0 0;
  font-size: 13px;
}

.property-value {
  padding-left: 20px;
}
.component-properties {
  padding: 10px 0;
}


cd3e {
  display: flex;
  height: 100%;
}

.cd3e-box {
  font-size: 18px;
  color: #1973bc;
  padding: 10px 0;
  text-align: left;
  font-weight: normal;
}

/* positioning */
.element-definition{
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #1973BC;
  text-align: left;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background: transparent;
  border: 0px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  transition: all 500ms;
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
  width: 100%;
}

.element-definition:hover {
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  transition: all 300ms;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  color: #698492;
  background-color: #dce7ed;
}

/* grid visualization */

.row-delimiter {
  text-align: left;
}

.show-grid .column  {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  background-color: rgba(242,206,23,.15);
  /* border: 1px solid #ddd; */
  /* border: 1px solid rgba(86,61,124,.2); */
}


.layoutBox .container-fluid {
  text-align: center;
  background-color: rgba(221, 228, 230, 0.2);
  background: rgba(221, 228, 230, 0.2);
  min-height: 200px;
}

.toolBox .input-group {
  margin-bottom: 10px;
}

.toolBox .input-group * {
}

.toolBox .input-group input {
    /* width: 80%; */
    /* margin-bottom: 0px; */
}

.row {
  background-color: rgb(191,220,229);
  background-color: rgba(191,220,229,0.25);
  margin-bottom: 5px;

  padding: 1px;
}


.column {
    /* margin-bottom: 5px; */
}

.row-header, .column-header{
  position: relative;
  height: 25px;
}

.row-header-name {
    top: 4px;
  
  
    position: relative;
}

.column-header{
  margin-right: -15px;
}

.row-header>button,
.column-header>button{
   position: absolute;
  right: 0;
  top: 0;
}

.component{
  background: #1973bc;
  padding: 10px;
  color: white;
}

/* .row:hover, */
/* .inner-column:hover, */
/* .component:hover{ */
/*   border-color: orange; */
/* } */

[data-is-selected="true"]{
  border-color: rgb(38, 53, 61);   
  outline: 0;   
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(38, 53, 61, .9);   
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(38, 53, 61, .9);
}
[data-is-selected="false"]{
  border: 1px solid #bfdce5;
}

button.remove.btn {
    padding: 0px;
    line-height: 1;
    background: none;
    border: none;
}

button.remove.btn .glyphicon-remove:before {
    color: #1973bc;
}

.toolBox-body .input-group-addon,
.propertyBox-body .input-group-addon {
  background-color: #1973bc;
  border-color: #bfdce5;
  color: white;
}

.toolBox-body .panel-default > .panel-heading {
  color: white;
  background-color: #1973bc;
  border-color: #bfdce5;
}

.toolBox-body  a:hover, a:focus {
  color: white;
  text-decoration: none;
}

.toolBox-body .form-control,
.propertyBox-body .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: rgb(25, 115, 188);
  background-color: #fff;
  background-image: none;
  border: 1px solid #bfdce5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}




