<div class="column col-xs-{{column.getWidth()}}"
     data-drop="true"
     data-drag="true"
     data-jqyoui-droppable="{ onDrop:'onDropCallback' }"
     data-jqyoui-draggable="{ onStart:'dragSelectSelf', onStop: 'dragSelectSelf', placeholder:'keep' }"
     data-jqyoui-options="jqyouiOptions"
     data-stop-event="drop"
     data-is-selected={{isSelected()}}
     data-draggable-type="column"
     data-draggable-options='{ "id":"{{column.getId()}}" }'
     >
    <div class="column-header"
        ng-click="selectSelf()"
        data-stop-event="click"
        >
        <div>{{column.getName()}}</div>
        <button type="button" class="remove btn btn-default" aria-label="Remove"
                ng-click="onRemoveButtonClick(column)"
                data-stop-event="click">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>

    <div class="inner-column"
         data-ng-click="onElementSelection(column)"
         data-stop-event="click"
        >
        <component data-ng-if="column.getComponent()"
                   data-component="column.getComponent()">
        </component>
    </div>
</div>
