<div class="column col-xs-{{column.getWidth()}}"
     data-drop="true"
     data-jqyoui-droppable="{ onDrop:'onDropCallback' }"
     data-jqyoui-options="{greedy: true}"
     data-stop-event="drop"
     >
    <div class="inner-column"
         data-ng-click="onElementSelection(column)"
         data-stop-event="click"
         >

      Column: {{column.getName()}}
      <component data-ng-if="column.getComponent()"
                data-component="column.getComponent()">
      </component>
  </div>
</div>
