<div id="{{row.getName()}}"
     class="row show-grid"
    data-drop="true"
    data-drag="true"
    data-jqyoui-droppable="{ onDrop:'onDropCallback' }"
    data-jqyoui-draggable="{ onStart:'dragSelectSelf', onStop:'dragSelectSelf', placeholder:'keep' }"
    data-jqyoui-options="jqyouiOptions"
    data-stop-event="drop"
     data-is-selected={{isSelected()}}
    data-draggable-type="row"
    data-draggable-options='{ "id":"{{row.getId()}}" }'
     >

    <div class="row-header"
        ng-click="selectSelf()"
        data-stop-event="click"
        >
        <div class="row-header-name">{{row.getName()}}</div>
        <button type="button" class="remove btn btn-default" aria-label="Remove"
                ng-click="onRemoveButtonClick(row)" \\\data-stop-event="click">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>

</div>
