<div class="component"
    data-ng-click="selectSelf()"
    data-stop-event="click"
    data-is-selected={{isSelected()}}
    data-drag="true"
    data-jqyoui-draggable="{ onStart:'dragSelectSelf', onStop:'dragSelectSelf', placeholder:'keep' }"
    data-jqyoui-options="jqyouiOptions"
    data-draggable-type="component"
    data-draggable-options='{ "id":"{{component.getId()}}" }'
    >
  <div>
    <div class="component-type">{{getSelectedType()}}</div>
    <button type="button" class="remove btn btn-default" aria-label="Remove"
        ng-click="onRemoveButtonClick(component)"
        data-stop-event="click">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>

  <div class="component-name">{{component.getName()}}</div>

</div>
